<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_a5v6tP7ktDEaIRg8iEPQHJ3KKw9X8kI</string>
	<key>GCM_SENDER_ID</key>
	<string>731055077762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudMonark</string>
	<key>PROJECT_ID</key>
	<string>monark-1e8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>monark-1e8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731055077762:ios:439e2e987696929e62379b</string>
</dict>
</plist>